# Copiar a /home/srssui5/payroll-dashboard.env en el servidor (chmod 600).

SRS_API_URL=http://host.docker.internal
SRS_PUBLIC_URL=https://main.srssuite.com
SRS_SSO_SECRET=PEGAR_DESDE_config.php_PAYROLL_SSO_SECRET
FACE_RECOGNITION_URL=http://host.docker.internal:3002
